SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:5000/auth/callback
HOST_PASSWORD=choose_a_password
PARTY_URL=http://YOUR_LOCAL_IP:5000
FLASK_SECRET_KEY=choose_a_long_random_string
DOWNVOTE_THRESHOLD=7
MAX_QUEUE_PER_USER=2
SKIP_BAN_THRESHOLD=2
PORT=5000
